/* assets/styles/main.css */
:root {
  --background-color: #eaeaea;
  --text-color: #333333;
  --card-color: #d3d3d3;
  --important-color: #ffb6c1;
  --sub-color: #b19cd9;
  --primary-color: #8a2be2;
  --secondary-color: #ffe4e1;
  --white-color: #fff;
  --black-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
  .container {
    width: 100%;
  }
}
